body{
    background-color: #EDF2C5;
    font-family: Noto Sans;
}

/*header*/
header{
    color: #778A50;
    width: 1122px;
    margin:36px auto 2px auto;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.logo{
    font-size: 44px;
    font-weight :900;
    margin: 0;
}
.btn-group{
    display: flex;
}
.btn1{
   height:24px;
   width: 24px;
   padding-right: 12px;
}
.ig{
    border-right: 1px solid #778A50;
}
.btn2{
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #778A50;
  border-radius: 3px;
  padding: 4px 8px;
  margin-left: 12px;
}

/*nav*/
nav{
    margin:10px auto 16px auto;
    color: #EDF2C5;
    background-color: #778A50;
    width:1120px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list{
    list-style:none;
    display: flex;
    margin:0;
    padding-left: 30px;
}
.list_item{
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    padding-right: 60px;
}

/*main*/
main{
    width: 1120px;
    padding: 0;
    margin:0 auto 117px auto;
}
.main_pic{
    width: 1120px;
    margin-bottom: 32px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.vegetables,.contact{
    width: 528px;
}
.title{
    width: 498px;
    background-color: #778A50;
    color:#EDF2C5;
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    padding: 10px 0 11px 30px;
    border-radius: 3px;
    margin:0 0 16px 0;
}
.vege_pic{
    width: 528px;
    display: flex;
    justify-content: space-between;
}
.pic{
    width: 165px;
    height: 140px;
}
.contact_info{
    padding: 16px;
    color: #7D7D7D;
    background-color:#F7FBDA ;
    font-size: 12px;
    line-height: 150%;;
}
.info{
    margin:0;
}
.help{
    padding-bottom: 8px;
    border-bottom:1px solid #7D7D7D
}
.mail_phone{
    padding-top: 8px;
}
/*footer*/
footer{
    background-color: #778A50;
    color: #EDF2C5;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 21px;
}
.cr{
    font-size: 12px;
    line-height: 150%;
    border-radius: 3px;
    margin:0;
}